<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSSupportsLiveActivities</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>de</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Damit du ein Bild deiner Insel in deinen Fotos sichern kannst.</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>io.github.alexx161.fokuswald</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fokuswald</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
